#container{
    background-color: pink;
    flex: auto;
}

#container p{
    height: 24px;
    text-align: center;
    font-size: 24px;
}


img {
    position: center;
    box-shadow: #D332 0 0 0 5;
    align-content: center;
    margin: 10px;
    border-radius: 10px;

}

#newDiv{
    display: inline;
    vertical-align: top;
    background-color: green;
}

