#container{
    background-color: lightslategrey;
    flex: auto;
}

#container p{
    height: 24px;
    text-align: center;
    font-size: 24px;
}


img {
    position: center;
    box-shadow: #D332 0 0 0 5;
    align-content: center;
    margin: 10px;
    border-radius: 10px;

}

#newDiv{
    display: inline;
    vertical-align: top;
    background-color: lightcoral;
    position: relative;

}

ul{
    list-style: none;
}

li{
    background-color: lightseagreen;
    padding: 10px;
    margin: 5px;
    width: 250px;

}

#catImage{
    width: 800px;
    height: 600px;
}

#catName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin:5px;
    padding:10px;
    position: relative;
    left: 300px;
}

#clickCount{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}